#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* Assurez-vous que le conteneur a une hauteur définie */
}

#search-form {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}


#search-form form {
  display: flex;
  align-items: center;
}

#search-form label {
  margin-right: 10px;
}

#search-form input[type="text"] {
  width: 200px;
}


.section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* Ajoute un espace entre les sections */
}

.white-box {
  display: inline-block;
  width: 300px;
  /* Définir la largeur souhaitée pour les cadres blancs */
  vertical-align: top;
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.section.white-box {
  height: 400px;
  /* Remplacez la valeur par la hauteur souhaitée */
}



.section {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: left;
  margin: 0 10px;
  width: 300px;
}

.section h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.section p {
  margin: 5px 0;
  font-size: 14px;
}

.section ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  font-size: 14px;
}

.section li {
  margin-bottom: 5px;
}

.section table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.section {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: left;
  margin: 0 10px;
  width: 300px;
  background-color: #fff;
  /* Ajout de la couleur de fond */
}

.section th,
.section td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
}