html {
  scroll-behavior: smooth;
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;

}

#search-form {

  z-index: 1;
  position: sticky;
  top: 0;
  right: 10;
  padding: 10px;
}

.search-icon {
  position: absolute;
  top: 5%;
  left: 10px;
  /* Modifier left au lieu de right */

  color: gray;
  cursor: pointer;
}

.search-bar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  margin-bottom: 500px;
  /* Ajoutez l'espace souhaité entre la barre de recherche et les éléments suivants */
}

.search-wrapper {
  display: inline-flex;
  align-items: center;
  position: relative;
}


#search-form form {
  display: flex;
  align-items: center;
}

#search-form label {
  margin-right: 10px;
}

#search-form input[type="text"] {
  width: 500px;
  height: 50px;
  border-radius: 30px;
  background-image: url("https://seeklogo.com/images/D/djezzy-logo-A1B6F6E26F-seeklogo.com.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 5px) center;
  background-size: 25px 25px;
  padding-right: 40px;
  /* Augmentez la valeur pour faire de la place pour l'icône */
  border: 1px solid white;
  text-align: center;
  font-size: 16px;
  color: gray;
}


#search-form button {
  background: none;
  border: none;
  padding: 0;
  margin-left: 5px;
}

#search-form button svg {
  width: 20px;
  height: 30px;
}





.search-container {
  position: relative;
}









.section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.white-box {
  display: inline-block;
  width: 200px;
  vertical-align: top;
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.section.white-box {
  height: 440px;
  width: 350px;
}



.section {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  text-align: left;
  margin: 0 10px;
  width: 300px;
}

.section h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.section p {
  margin: 5px 0;
  font-size: 14px;
}

.section ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  font-size: 14px;
}

.section li {
  margin-bottom: 5px;
}

.section table {
  width: 90%;
  border-collapse: collapse;
  margin-top: 10px;
}

.section {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  text-align: left;
  margin: 0 10px;
  width: 300px;
  background-color: #fff;
}

.section th,
.section td {
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  font-size: 15px;
}

#customer-details h2,
#customer-behavior h2,
#customer-history h2 {
  font-weight: bold;
  font-size: 27px;
  text-align: center;
}


.section p {
  line-height: 1.6;
  margin-left: 30px;
  /* Remplacez la valeur par celle de votre choix */
}

.section ul {
  line-height: 1.6;
  margin-left: 30px;
  /* Remplacez la valeur par celle de votre choix */
}

.section li {
  line-height: 1.6;
  margin-left: 50px;
  /* Remplacez la valeur par celle de votre choix */
}

.section table {
  line-height: 1.6;
  margin-left: 10px;
  /* Remplacez la valeur par celle de votre choix */
}

.section th {
  line-height: 1;
  margin-left: 30px;
  /* Remplacez la valeur par celle de votre choix */
}

.section td {
  line-height: 1.5.;
  margin-left: 10px;
  /* Remplacez la valeur par celle de votre choix */
}





.input-field {
  float: right;
  width: 150px;
  height: 20px;
  background-color: #e6e4e4;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 5px;
  text-align: center;

}

.input-field-b {
  float: right;
  width: 120px;
  height: 20px;
  background-color: #e6e4e4;
  margin-right: 20px;
  margin-left: 10px;
  border-radius: 5px;
  text-align: center;
}

.table-container {
  overflow-y: auto;
  max-height: 300px;
  overflow-x: hidden;
}

.offer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.offer-box {
  display: inline-block;
  width: 400px;
  height: 550px;
  vertical-align: top;
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 20px;
  text-align: center;
  background-color: #fff;
  overflow-y: auto;
  max-height: 600px;
  overflow-x: hidden;
}

.offer-box p {
  font-size: 18px;
  margin-bottom: 10px;
}

.offer-box .offer button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: auto;

}

.offer-box .offer {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #f5f5f5;
  height: 120px;
  align-items: center;
  /* Modifier la valeur de hauteur selon vos besoins */


}

ul.dropdown-menu li:first-child {
  list-style-type: none;
}

.offer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 100%;
}

.offer-box .offer p {
  margin: 0;
  padding: 0;
}

.offer-box.offer-voix {
  height: 552px;
  /* Modifier la valeur de hauteur selon vos besoins */
}

.activate-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.consultation {
  border-radius: 20px;
  width: 700px;
  height: 500px;
  background-color: white;
}

.consumption{
  width: auto;
  display: flex;
}

.consumption > * {
  flex-grow: 1;
  margin-right: 10px; /* Adjust the margin value to your desired spacing */
}

.consumption > *:last-child {
  margin-right: 0; /* Remove the margin for the last child to avoid extra spacing */
}

.consumption-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.consumption > *:nth-child(1),
.consumption > *:nth-child(2) {
  border-right: 1px red solid;
}


h3{
margin: 0;
}

