.plaintes-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.plainte-item {
    width: 500px;
    height: 150px;
    margin: 10px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 20px;
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
    border: 1px solid rgb(125, 124, 124);

}

.text {
    font-size: 15px;
}

.text-temp {
    font-size: 15px;
}

.ff {
    margin-top: 250px;
}

.text-rec {
    border: 2px solid #f00000;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    width: 400px;
    margin-left: 48px;
}

.titre {
    font-size: 30px;
}